<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello you are at City {{name}}</h1>
    <H1>The Temperature of the City is {{temperature}} Kelvin {{temperatureCentigrade}} centigrade {{temperatureFahrenheit}} fahrenheit</H1>
    <H1>Description of Weather {{description}}</H1>
</body>
</html>